    *{
        margin: 0%;
        padding: 0%;
    }
    
    body
    {
        background-image:url(https://img.wallpapersafari.com/desktop/1600/900/78/35/M1uHWm.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .contenedor-bienvenida{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-right: 10px;
        margin-right: 50px;
    }
    
    .contenedor-bienvenida h1{
    text-align: center;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    }
    
    .contenedor-bienvenida h2{
        text-align: center;
        color: antiquewhite;
        font-family: 'Montserrat', sans-serif;
        margin-left: 20px;
    }
    
    .contenedor-bienvenida h3{
        text-align: center;
        color: antiquewhite;
        font-family: 'Montserrat', sans-serif;
        margin-left: 20px;
    }
    
    .contenedor-bienvenida p, ul{
        color: antiquewhite;
        font-family: 'Montserrat', sans-serif;
        margin-left: 20px;
        text-align: justify;
    }
    
    button{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    button:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    .contenedor-cards
    {
        width: 100%;
        padding: 43px;
        padding-top: 1%;
        display: grid;
        gap: 1rem;
        grid-auto-rows: 12rem;
        grid-template-columns: repeat(auto-fill, minmax(12rem,1fr));
        grid-row-gap: 5px;
        border-style: none;
        box-sizing: border-box;
        overflow: visible;
        background-color: rgb(14, 65, 65) ;
        object-fit: contain;
    }
    
    .card
    {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        grid-row-gap: 10px;
        position: relative;
        overflow: hidden;
        height: 30vh;
        object-fit: contain;
        gap: 20px;
        box-sizing: content-box;
    }
    
    
    .back {
        width: 100%;
        height: 100%;
        padding: 0px;
        background-image: url(https://wallpaperaccess.com/full/156260.jpg);
        background-size: contain;
        position: absolute;
    }
    .cardHidden{
        visibility: hidden;
        width: 100%;
        height: 100%;
        padding: 0px;
        position: absolute;
    }

.felicitaciones{
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

}
 .felicitaciones p{
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    font-size: 200%;
 }

 .felicitaciones button{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }
 


