body{
    background-image: url("../studio-ghibli.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.contenedor-cards
{
    width: 90%;
    max-width: 90%;
    margin: auto;
    padding: auto;
    border-style: groove;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.card
{
    /* border-radius: 10px; */
    border-style: groove;
    min-height: 200px;
    padding: 30px 30px 30px 30px ;
    height: 275px;
    width: 200px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center-center;
    object-fit: contain;

    display: inline-block;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: max-content; */
    gap: 20px;
}


@media screen and (max-widht: 1024px){

}

@media screen and (max-widht: 768px){

}

@media screen and (max-widht: 480px){

}