*
{
    margin: 0%;
    padding: 0%;
}

body
{
    background-image: url("images/studio-ghibli.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.contenedor-cards
{
    width: fit-content;
    padding: auto;
    padding-top: 3%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    height: 92vh;
    border-style: none;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    object-fit: contain;
    perspective: 800px;
}

.card
{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-color: orange;
    border-style: solid;
    position: relative;
    overflow: hidden;
    background-position: center-center;
    object-fit: contain;
    gap: 20px;
    animation-name: giro;
    animation-duration: 2s;
    transform: preserve-3d;
    transition: all 2s cubic-bezier();
    transform: rotateY(80deg);

}

.back {
    padding: 0px;
    background: orange;
    color: orange;
    position: absolute;
    backface-visibility: hidden;
}

/* @keyframes giro
{
    from{rotate:Y(0deg);}
    to{rotate:Y(180deg);}
}

 @media screen and (max-widht: 768px){
    .contenedor-cards
    {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .contenedor-cards
{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
     grid-template-columns: repeat(3, 1fr);
     /* grid-template-rows: repeat(5, 1fr); */
    box-sizing: content-box;
    height: 94vh;
    border-style: groove;
}

.card
{
    width: 100%;
    grid-area: card card card;
     background-color: aliceblue;
    padding: 20px;
     display: flex;
     align-items: center;
     justify-content: center; 
    border-radius: 10px;
    border-style: groove;
    box-sizing: border-box;
     padding: 10px 10px 10px 10px ;
    height: 275px;
     width: 200px; 
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center-center;
    object-fit: contain;

    display: inline-block;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: max-content;
    gap: 20px;
}
}

 @media screen and (max-widht: 480px){

 } */